@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amiko:wght@400;700&family=Poppins:wght@100;200&display=swap');
/*
font-family: 'Abel', sans-serif;
font-family: 'Amiko', sans-serif; Regular 400/Bold 700
font-family: 'Poppins', sans-serif; ExtraLight 200 - Thin 100
*/

:root {
    --bg_color: #FFFFFF;
    --text_color:  #646363;
    --text_bottom_color: #82FFE1;
    --bandeaux_color: #EAFFFB;
    --button_color:  #000000;
    --text_bottom_button_color: #3B4040;

    --light_room:  #EAFEFF;

    --dark_room_1: #131313;
    --dark_room_2: #000000;
    --dark_room_3: #430000;
    --dark_room_4: #FF0000;

    --battle_room:  #CDFFF3;

    --creative_room_1: #F2F2F2;
    --creative_room_2:  #771261;

    --available: #00BA8D;
    --unavailable: #9C0000;
}

.body {
    color: var(--text_color);
    font-family: 'Abel', sans-serif;
    background-color: var(--bg_color);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2vmax;
    color: #646363;
}

.main-bg {
    background-color: var(--bg_color) !important;
}

.main-text {
    color: var(--text_color) !important;
    font-size: 1.7vmax;
}

.main-undertext {
    color: var(--text_bottom_color) !important;
}

.separator-color {
    background-color: var(--bandeaux_color) !important;
}

.button-color {
    color: var(--button_color) !important;
}

.title {
    color: var(--text_bottom_button_color) !important;
    font-family: 'Amiko', sans-serif !important;
    font-weight: Bold !important;
    font-size: 2.3vmax !important;
}

.under-bg {
    background-color: var(--text_bottom_button_color) !important;
}

.dark-room-bg {
    background-color: var(--dark_room_1) !important;
}

.dark-room-text {
    color: var(--bg_color) !important;
}

.dark-room-separator {
    background-color: var(--dark_room_2) !important;
}

.dark-room-under-separator {
    background-color: var(--dark_room_3) !important;
}

.dark-room-undertext {
    background-color: var(--dark_room_4) !important;
}

.battle-room-separator {
    background-color: var(--battle_room) !important;
}

.creator-room-separator {
    background-color: var(--creative_room_1) !important;
}

.creator-room-under-separator {
    background-color: var(--creative_room_2) !important;
}

.available {
    background-color: var(--available);
}

.unavailable {
    background-color: var(--unavailable);
}
.mainpage{
    background-image: url(../asset/Vector_78.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: #ffffff58 !important;
    backdrop-filter: blur(3px);
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Amiko', sans-serif;
    position: fixed;
    z-index: 10px;
}
.nav-component{
    color: #000000;
    text-transform: uppercase;
}

#lgonav{
    margin-left: 5px;
    margin-top: 6px;
    width: 60px;
    height: auto;
    line-height: normal;
    fill: #000000 !important;
}
.bold-nav{
    font-family: 'Amiko', sans-serif;
    font-weight: 700;
}
#connect{
    color: #000000 !important;
    text-align: center ;
}
#connect:hover{
    background-color: rgb(184, 184, 184);
    height: 30px;
    text-align: center;
}
.logo-main{
    margin-top: 50px;
    width: 30%;
}
#discover{
    margin-top: 50px;
}
.article{
    margin-top: 50px;
}
#sign{
    text-align: left;
}
#modal-foot .col .s2{
    text-align: right;
}
#modal-foot .col{
    height: 30px;
}
#modal-foot{
    margin-bottom: 0px;
}


/* CSS du composant Article */
.imgarticle{
    line-height: 0 !important;
}
.back-text-article{
    background-color: #E6E6E6;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* CSS du composant About */

.about
{
  background-color: #eafffb;
  height: 30vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-content
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  margin: 2.5% 0 2.5% 0;
}

.about-video
{
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
}
.about-video div
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.about-video img
{
  display: inline-block;
  width: 24vmax;
  height: 24vmax;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1.2vmax  rgba(0 0 0 / 20%);
}

.about-title
{
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  align-items: center;
}
.about-title img
{
  width: 10vmax;
  margin: 0 1.4% 2% 1.4%;
}

.about-button
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-button p
{
  margin: 0 10px 0 0;
}
.about-button i
{
  font-size: 3.7vmax;
}

/*.footer {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--text_bottom_button_color);
    color: var(--text_bottom_color);
}

.footer-text {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 600px;
}

.footer-text.separator {
    width: 10px;
    height: auto;
    background-color: var(--text_bottom_color);
}

.footer-left {
    display: flex;
    gap: 20px;
}*/
=======
  justify-content: center;
  margin: 0 2% 0 5%;
}
#about-content img
{
  display: inline-block;
  width: 389px;
  height: 389px;
  object-fit: cover;
  border-radius: 50%;
  backdrop-filter: blur(50%);
  border: solid 22px rgba(0 0 0 / 20%);
}

/* CSS page sign_in.php */

.section{
    background-image: url(../asset/Logo_blanc.svg);
}
/* CSS du footer */
a {
    color: inherit;
}

.page-footer .hide-on-large-only .icons-med {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 125%;
}

@media only screen and (max-width: 1375px) {
    .page-footer .footer-right .icons {
        gap: 10px;
        margin-left: 26px;
        font-size: 135%;
    }
}
@media only screen and (max-width: 1140px) {
    .page-footer .footer-right .icons {
        gap: 5px;
        margin-left: 20px;
        font-size: 100%;
    }

    .page-footer .footer-right .icons .icon {
        background-color: transparent;
        color: var(--text_bottom_color);
        padding: 5px;
        border-radius: 0;
    }
}

@media only screen and (min-width: 601px) {
    .page-footer .footer-left p {
        gap: 20px;
    }

    .page-footer .footer-left {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 773px) {
    .page-footer{
        height: 160px;
    }
}

@media only screen and (max-width: 600px) {
    .page-footer {
        height: 240px;
    }

    .page-footer .footer-right {
        justify-content: center;
    }

    .page-footer .container .row {
        text-align: center !important;
    }
}
