@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amiko:wght@400;700&family=Poppins:wght@100;200&display=swap');
/* 
font-family: 'Abel', sans-serif;
font-family: 'Amiko', sans-serif; Regular 400/Bold 700
font-family: 'Poppins', sans-serif; ExtraLight 200 - Thin 100
*/

:root {
    --bg_color: #FFFFFF;
    --text_color:  #646363;
    --text_bottom_color: #82FFE1;
    --bandeaux_color: #EAFFFB;
    --button_color:  #000000;
    --text_bottom_button_color: #3B4040;

    --light_room:  #EAFEFF;

    --dark_room_1: #131313;
    --dark_room_2: #000000;
    --dark_room_3: #430000;
    --dark_room_4: #FF0000;

    --battle_room:  #CDFFF3;

    --creative_room_1: #F2F2F2;
    --creative_room_2:  #771261;

    --available: #00BA8D;
    --unavailable: #9C0000;
}

body {
    color: var(--text_color);
    background-color: var(--bg_color);
}

.main-bg {
    background-color: var(--bg_color) !important;
}

.main-text {
    color: var(--text_color) !important;
}

.main-undertext {
    color: var(--text_bottom_color) !important;
}

.separator-color {
    background-color: var(--bandeaux_color) !important;
}

.button-color {
    color: var(--button_color) !important;
}

.title {
    color: var(--text_bottom_button_color) !important;
}

.under-bg {
    background-color: var(--text_bottom_button_color) !important;
}

.dark-room-bg {
    background-color: var(--dark_room_1) !important;
}

.dark-room-text {
    color: var(--bg_color) !important;
}

.dark-room-separator {
    background-color: var(--dark_room_2) !important;
}

.dark-room-under-separator {
    background-color: var(--dark_room_3) !important;
}

.dark-room-undertext {
    background-color: var(--dark_room_4) !important;
}

.battle-room-separator {
    background-color: var(--battle_room) !important;
}

.creator-room-separator {
    background-color: var(--creative_room_1) !important;
}

.creator-room-under-separator {
    background-color: var(--creative_room_2) !important;
}

.available {
    background-color: var(--available);
}

.unavailable {
    background-color: var(--unavailable);
}
body{
    background-image: url(../img/Vector_78.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: #ffffff00 !important;
    backdrop-filter: blur(3px);
}
.nav-component{
    color: #000000;
}
#saucisse{
    text-align: center;
}
#inscrip{
    text-align: left;
}
#lgonav{
    margin-left: 5px;
    margin-top: 1px;
    width: 6%;
    fill: #000000 !important;
}
#connect{
    color: #000000 !important;
    text-align: center;
}
#connect:hover{
    background-color: rgb(184, 184, 184);
    height: 30px;
}
#sign{
    text-align: left;
}
#sign:hover{
    background-color: rgb(184, 184, 184);
}
#modal-foot .col .s2{
    text-align: right;
}
#modal-foot .col{
    height: 30px;
}
#modal-foot{
    margin-bottom: 0px;
}